body{
    background-color: #E5E5E5;
    width: 720;
    height: 510;
    margin-left: 18%;
    margin-right: 18%;
        
}

.flex-container{
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    padding: 30px;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    width: 100%;
    margin: 0 auto;
}

.caja{
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;
    width: 200px;
    height: 472px;
    line-height: 10px;
    margin: 5px;
    overflow: hidden;
    text-align: left;
}

.c1{
    background-color: #E5E5E5;
    flex-grow: 1;
    flex-basis: 10%;
}
.c2{
    background-color: #E5E5E5;
    flex-basis: 60%;
    text-align: left;
}

.c3{
    background-color: #ffffff;
    flex-grow: 1;
    flex-basis: 20%;
    padding: 20px;
    display:block;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 5%;
}

.entry{
    background-color: #E5E5E5;
    border: #E5E5E5;
    padding: 40px;
    flex-direction: column;
    min-height: 17vh;
    display: flex;
    justify-content: space-between;
    text-transform: lowercase;
}

::placeholder{
    color: darkblue;
    font-size: 1rem;
}

.entry:focus{
    outline: none;
    }

samp{
    color:gray;
    font-size:0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20%;
    justify-content: space-between;
}

.icono{
    justify-content: center;
    margin-right: 2%;
    width: 2%;
    color: #495057;
    font-size: 18px;
}

.buts{
    padding: 40px;
    display: block;
    margin-top: 35%;
}

button{
    width: 200px;
    height: 40px;
    margin-top: auto;   
    cursor: pointer;

}

.botonEncriptar{
    background-color: darkblue;
    
    margin: 10px;
    border-radius: 24px;
    border: 1px solid darkblue;
    color: #ffffff;
}

.botonDesencriptar{
    background-color: lightblue;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 24px;
}

.mensaje{
    height: 300px;
    background:white;
    background-image: url("img/figura.png");
    background-repeat:no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color:#0A3871;
    margin-left: -100px;
    margin-top: 10px;
    padding-left: 40px;
    position: fixed;
  }

.mensaje:focus{
    outline: none;
    }

.textos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 320px;
}

.texto2{
    font-size:0.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius:24px;
    color: #0A3871;
    cursor: pointer;
    height: 40px;
    margin-left: -5px;
    margin-top: 420px;
    position: absolute;
    width: 200px;
  }
